* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Bebas Neue', cursive; */
    font-family: "Helvetica", Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

#home {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.display {
    position: absolute;
    height: 5rem;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    /* background-color: #f00a; */
}

.display-word__box {
    /* background-color: #0f0a; */
    height: 100%;
    /* 文字のサイズとスケール */
    font-size: 55px;
}

.display-word__box span,
.word span {
    font-weight: 700;
    text-transform: uppercase;
}

.display-word__box:not(:nth-last-child(1)) {
    /* 文字の間隔 */
    margin-right: 3.5rem; 
}

.selected-word__box {
    cursor: pointer;
    border-bottom: 3px solid #000;
    transition: all 0.1s ease;
}

.selected-word__box:hover {
    border-width: 5px;
}

.selected-word {
    white-space: nowrap;
}

.blank {
    width: 8rem;
}

.focus {
    border-width: 5px;
}

.select-box {
    width: 70%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.words {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.word {
    font-size: 32px;
    margin: 1rem;
}

.word span {
    cursor: pointer;
}

.footer {
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}